<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
    <div class="container">
        <h1>Edit <%= Book.name %> details</h1>
        <form action="/books/<%=Book._id%>?_method=PUT" method="POST">
            <div class="input">
                <label for="name">Name:</label>
                <input type="text" name="name" id="name" value="<%= Book.name  %>" />
            </div>
            <div class="input">
                <label for="author">Author:</label>
                <input type="text" name="author" id="author" value="<%= Book.author %>"/>
            </div>
            <div class="input">
                <label for="publicationYear">Year of Publication:</label>
                <input type="text" name="publicationYear" id="publicationYear" value="<%= Book.publicationYear  %>" />
            </div>
            <div class="input">
                <label for="genre">Genre:</label>
                <input type="text" name="genre" id="genre" value="<%= Book.genre %>"/>
            </div>
            <div class="input">
                <label for="description">Description:</label>
                <input type="text" name="description" id="description" value="<%= Book.description %>" />
            </div>
            <button type="submit">Update Details</button>
        </form> 
    </div> 
</body>
</html>