<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Book List</h1>
    <ul>
        <% Book.forEach((book) => { %>
         <li>
            <%=book.name%> - <%=book.author%> <br />
           Published: <%=book.publicationYear%>  - Genre: <%=book.genre%> <br />
           Description: <br /> 
           <%=book.description%>
         </li>
         <form action="/books/<%=book._id%>?_method=DELETE" method="POST">
            <button type="submit">Delete <%= book.name %></button>
          </form>
        <% }) %>
    </ul> 
    <a href="/books/new">Add New Fruit</a>   
</body>
</html>