<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><%= Book.name%></h1>
    <h2><%= Book.author%></h2>
    <h3>Published : <%= Book.publicationYear%></h3>
    <p>Genre : <%= Book.genre%></p>
    <p><%= Book.description%></p>
    
    <a href="/books">Back to index</a>
</body>
</html>